*~
\#*#
.#*
*.o
*.pyc
*.gcov
*.gcda
*.gcno
*.orig

.deps/
.dirstamp
/.deps/
/.dirstamp
*/.deps/
*/.dirstamp
*/*/.deps/
*/*/.dirstamp
*/*/*/.deps/
*/*/*/.dirstamp

/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/Makefile
/Makefile.in
/stamp-*
#/config-aux/depcomp
#/config-aux/install-sh
#/config-aux/missing
#/config-aux/compile
config-aux/ltmain.sh
config-aux/*.m4


/protolist.cc
/steglist.cc
/unitgrplist.cc

/libstegotorus.a
/stegotorus
/tltester
/unittests
/g_unittests
/pgen_fake
/pgen_pcap
/tester_proxy
/webpage_tester

/build/
/build-*/
/bench/
/bench-*/

/src/test/testbuf/
/gdb_emacs/
/apache_payload/*
/traces/*
/src/test/tester_proxy/*

#debugging stuff
tools
tmp
