*~
\#*#
.#*
*.o
*.pyc
*.gcov
*.gcda
*.gcno

/.deps/
/.dirstamp
*/.deps/
*/.dirstamp
*/*/.deps/
*/*/.dirstamp

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/Makefile
/Makefile.in
/missing
/stamp-*

/protolist.c
/steglist.c
/unitgrplist.c

/libstegotorus.a
/stegotorus
/tltester
/unittests

/build/
/build-*/
/bench/
/bench-*/
