*~
*.o
*.pyc
*.gcov
*.gcda
*.gcno

/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/.deps
/install-sh
/Makefile
/Makefile.in
/missing
/stamp-h1

/protolist.c
/steglist.c
/unitgrplist.c

/libobfsproxy.a
/obfsproxy
/unittests

